<div class="container p-3">
    <div class="row">
        <div class="col-12 text-center my-3">
            <h2 class="font-weight-bold">Advanced Search</h2>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="form-group">
                <label for="ibuMin">Max IBU</label>
                <input type="number" class="form-control" id="ibuMin">
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="form-group">
                <label for="ibuMin">Min IBU</label>
                <input type="number" class="form-control" id="ibuMin">
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="form-group">
                <label for="ibuMin">Max ABV</label>
                <input type="number" class="form-control" id="ibuMin">
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="form-group">
                <label for="ibuMin">Min ABV</label>
                <input type="number" class="form-control" id="ibuMin">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="form-group">
                <label for="ibuMin">Max EBC</label>
                <input type="number" class="form-control" id="ibuMin">
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="form-group">
                <label for="ibuMin">Min EBC</label>
                <input type="number" class="form-control" id="ibuMin">
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="form-group">
                <label for="ibuMin">Brewed before</label>
                <input type="number" class="form-control" id="ibuMin">
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="form-group">
                <label for="ibuMin">Brewed after</label>
                <input type="number" class="form-control" id="ibuMin">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-right">
            <button class="btn btn-primary">Search</button>
        </div>
    </div>
</div>

<div class="container mt-3">
    <div class="row">
        <div class="col-12 text-center">
            <div class="alert alert-warning" role="alert">
                No beers found
            </div>
        </div>
    </div>
</div>